/* CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Figtree, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* CSS custom properties */
:root {
  /* Colors */
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  /* Shadow */
  --card-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 100%);
}

/* Utility classes */
.text-preset-1 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
}

.text-preset-2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
}

.text-preset-3 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
}

.bold {
  font-weight: 800;
}

/* Styles */
body {
  background-color: var(--yellow);
  color: var(--gray-950);
}

/* Main */
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    background-color: var(--white);
    max-width: 24rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    border: 0.0625rem inset var(--gray-950);
    border-radius: 1.25rem;
    box-shadow: var(--card-shadow);

    .image-wrapper {
      border-radius: 0.625rem;
      overflow: hidden;
      width: 100%;
      max-height: 12.5rem;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .category {
        background-color: var(--yellow);
        border-radius: 0.25rem;
        padding: 0.25rem 0.75rem;
        width: fit-content;
      }

      & > p:last-of-type {
        color: var(--gray-500);
      }
    }

    .author {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      img {
        width: 2rem;
      }
    }
  }
}

/* Footer */
footer {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  padding: 2rem;
}
